@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
    overflow: hidden;
}

img.main-logo {
    filter: invert(1);
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5em;
}

.btn:hover .logo {
    filter: brightness(0);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.gradient {
    background: linear-gradient(90deg, #A1C4FD 0%, #C2E9FB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


#circle {
    z-index: -10;
    animation: rotate 5s linear infinite;
}

.dragme {
    position: relative;
    cursor: move;
}